#btnCart {
  pointer-events: all;
  user-select: all;
  background-image: var(--btn-gradient);
  padding: 0.25rem 0.75rem;
  border-radius: 1.25rem;
  color: snow;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.2rem;
  cursor: pointer;
  & span {
    font-weight: 800;
  }
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 520px;
  min-height: 100vh;
  background-color: var(--gray-bg);
  border-radius: 0 0 0 1rem;
  transform-origin: top left ;
  transform: translateX(100%);
  z-index: 9;
  transition: all 300ms ease-in-out;
  pointer-events: all;
  user-select: all;
}

.opened {
  transform: translateX(0);
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.closed {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  & button {
    background-image: var(--btn-gradient);
    color: snow;
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-size: 0.75rem;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);
    opacity: 1;
    transition: all 300ms ease-in-out;
    &:hover {
      transform: scale(1);
      opacity: 0.9;
    }
  }
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  font-size: 2rem;
  font-weight: 800;
  color: transparent;
  background-image: var(--btn-gradient);
  background-clip: text;
  & button {
    background-color: var(--magenta);
    color: snow;
    padding: 0.5rem;
    border-radius: 0.25rem;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);
    opacity: 1;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    &:hover {
      transform: scale(1);
      opacity: 0.9;
    }
  }
}

.empty {
  width: 100%;
  padding: 0.25rem;
  text-align: center;
  color: snow;
  font-weight: 800;
  font-size: 1.2rem;
}

.list {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 0.25rem;
  min-height: calc(15dvh * 3 - 1rem);
  max-height: calc(15dvh * 3 - 1rem);
  overflow-y: scroll;
  scrollbar-width: none;
  align-items: flex-start;
  justify-content: flex-start;
}

.item {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--gray-bg);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  & picture {
    width: 5rem;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & dl {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    gap: 0.25rem;
    align-self: center;
    & dt {
      color: snow;
      font-weight: 800;
    }
    & dt + dd {
      font-weight: 600;
      color: gray;
    }
    & dd + dd {
      color: transparent;
      background-image: var(--btn-gradient);
      background-clip: text;
      font-weight: 800;
    }
  }
  & form {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    & output {
      color: snow;
      padding: 0.25rem 0.75rem;
      font-size: 1.25rem;
      font-weight: 600;
      text-align: center;
    }
    & button {
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.25rem;
      border-radius: 0.25rem;
      cursor: pointer;
      transition: all 300ms ease-in-out;
      &:hover {
        transform: scale(1);
        opacity: 0.9;
      }
      &.itemButtonRemove {
        background-image: var(--btn-gradient-secondary);
        color: snow;
      }
      &.itemButtonAdd {
        background-image: var(--btn-gradient);
        color: snow;
      }
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
  align-self: center;
  & p {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    & span {
      color: snow;
      font-weight: 800;
    }
    &.shipping {
      padding: 0 0 0.25rem;
      border-bottom: 0.2rem solid rgba(255, 255, 255, 0.8);
      margin-bottom: 0.25rem;
    }
    &.total span {
      color: transparent;
      background-image: var(--btn-gradient);
      background-clip: text;
    }
  }
}


.subtotal{
  display: flex;
    flex-flow: row wrap;
    gap: 0.25rem;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    & span {
      color: snow;
      font-weight: 800;
    }
}
.shipping{
  display: flex;
    flex-flow: row wrap;
    gap: 0.25rem;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 0 0.25rem;
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.8);
    margin-bottom: 0.25rem;
    & span {
      color: snow;
      font-weight: 800;
    }
}
.total{
  display: flex;
    flex-flow: row wrap;
    gap: 0.25rem;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    & span {
      color: snow;
      font-weight: 800;
      color: transparent;
      background-image: var(--btn-gradient);
      background-clip: text;
    }
}

.checkout {
  color: snow;
  background-image: var(--btn-gradient);
  padding: 0.5rem 1.25rem;
  border-radius: 1.25rem;
  align-self: center;
  text-align: center;
  font-weight: 900;
  opacity: 0.9;
  transform: scale(0.9);
  cursor: pointer;
  transition: all 300ms ease-in-out;
  &:hover {
    transform: scale(1);
    opacity: 1;
  }
}


#pageCheckout{
  min-height: 80dvh;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  padding: 2rem 0 0;
}

#shippingForm{
  display: flex;
  flex-flow: row wrap;
  gap: .25rem;
  width: 100%;
  max-width: 480px;
  & h2{
    width: 100%;
  }
  & fieldset{
    width: calc(100% / 2 - 1rem);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-height: 5.5rem;
    & input{
      padding: .5rem 1.25rem;
      background-color: var(--gray-bg);
      border-radius: .25rem;
      border: .1rem solid transparent;
      outline: none;
        color: snow;
      &.error{
        border-color: crimson;
      }
    }
  }
  & button{
    padding: .75rem 1.5rem;
    border-radius: .75rem;
    color: snow;
    text-transform: uppercase;
    background-image: var(--btn-gradient);
    transform: scale(.9);
    transition: all 300ms ease-in-out;
    &:hover{
      transform: scale(1);
    }
    &:disabled{
      opacity: .8;
    }
  }
}