#edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  flex: 1;
  justify-content: center;
  & header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    & h2 {
      text-transform: uppercase;
      background-image: var(--gradient-hot-alt);
      color: transparent;
      background-clip: text;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      padding: 1rem 2rem;
      &::after {
        content: "";
        width: 100%;
        background-image: var(--gradient-hot-alt);
        height: 0.25rem;
      }
    }
  }
  & form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    & label {
      cursor: pointer;
      text-transform: uppercase;
      background-image: var(--gradient-hot);
      color: transparent;
      background-clip: text;
      display: flex;
      flex-direction: column;
      font-weight: 800;
    }
    & input {
      width: 100%;
      background-color: transparent;
      padding: 0.25rem 1rem;
      outline: none;
      border-image-slice: 1;
      border-image-width: 0 0 0.25rem 0;
      border-image-source: var(--gradient-hot);
      color: var(--light);
      font-family: var(--font-monst);
      font-size: 1rem;
      &:focus {
        border-image-source: none;
        border-bottom: 0.25rem solid var(--light);
      }
    }
    & textarea {
      width: 100%;
      background-color: transparent;
      padding: 1rem;
      outline: none;
      border-image-slice: 1;
      border-image-width: 0 0 0.25rem 0;
      border-image-source: var(--gradient-hot);
      color: var(--light);
      resize: none;
      height: 5rem;
      max-height: 5rem;
      font-size: 1rem;
      scrollbar-width: none;
      font-family: var(--font-monst);
      &:focus {
        border-image-source: none;
        border-bottom: 0.25rem solid var(--light);
      }
    }
    & button {
      cursor: pointer;
      position: relative;
      padding: 0.25rem 2rem;
      background-color: transparent;
      & span {
        z-index: 1;
        position: relative;
        background-image: var(--gradient-hot);
        color: transparent;
        background-clip: text;
        font-size: 1.25rem;
        font-weight: 800;
      }
      &::before {
        content: "";
        background-image: var(--gradient-hot);
        width: 100%;
        position: absolute;
        bottom: 0rem;
        left: 0;
        height: 100%;
        border-radius: calc(0.25rem / 2);
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 150ms ease-in-out;
        z-index: 0;
      }
      &:hover::before {
        transform-origin: bottom left;
        transform: scaleX(1);
      }
      &:hover span {
        background-image: none;
        color: var(--light);
      }
    }
  }
}
