.container{
    min-height: 50dvh;
    background-color: var(--color-white);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--color-primary);
}