:root{
  --color-white: white;
  --color-black: rgb(12,12,12);
  --color-primary: rgb(109, 11, 109);
}

*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html{
  scrollbar-width: none;
  scroll-behavior: smooth;
}


body{
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-white);
  font-family: sans-serif;
}

#root{
  width: 100%;
  max-width: 1200px;
  background-color: var(--color-primary);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-white);
}